@charset "utf-8";
/* CSS Document */
#contenedor{
	margin:auto;
	position:relative;
	width:50%;
	
}
#zonaformulario{
	float:left;
	padding:30px;
	border:2px solid #00F;
	
}

#zonadatos{
	float:left;
	width:1000px;
	padding:20px;
	border:2px solid  #F00;
}


.directorio{
	color:darkmagenta;
	font-weight: bold;
	cursor: pointer;
}