@charset "utf-8";
/* CSS Document */

#zonaformulario{
	float:left;
	padding:30px;
	border:2px dotted #1815da;
}

#zonadatos{
	float:left;
	width:600px;
	margin-left:50px;
	padding:30px;
	border:2px dashed #d40c0c;
}