
#video{
	width: 720px;
	margin: 20px auto;
	background: red;
	padding: 5px;
	
	border:  2px solid #316d95;
	border-radius: 8px;
	
}

nav{
	margin: 5px 0;
}

#botones{
	float: left;
	width: 100px;
	height: 20px;
}

#barra{
	background: #ffffff;
	width: 600px;
	height: 16px;
	border: 1px solid #666;
	padding: 3px;
	margin-left: 80px;
}

#progreso{
	position: absolute;
	width: 0px;
	height: 16px;
	background: rgba(0,0,150,2);
}